                                         
<configuration>
   <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="RootFileAppender">
      <file>J-ISIS-log.txt</file>
      <append>true</append>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
         <level>debug</level>
      </filter>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <fileNamePattern>J-ISIS-log.%i</fileNamePattern>
         <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <maxFileSize>100000</maxFileSize>
      </triggeringPolicy>
      <layout class="ch.qos.logback.classic.PatternLayout">
         <pattern>%d{yyyy-MM-dd HH:mm:ss},%p,%c,%F,%L,%C{1},%M %m%n</pattern>
      </layout>
   </appender>
   <root>
      <level value="debug"/>
      <appender-ref ref="RootFileAppender"/>
   </root>
  
</configuration>